.main{
    background: linear-gradient(0deg, rgba(0,255,255,1)10%,rgba(45,147,253,1) 80%);

}

.container{
    display:flex;
    justify-content: center;
}
.card-img-top{
    width: 100%;
    margin-top: 5px;
    height: 7vw;
    object-fit:scale-down
}
.card{
    border:solid 2px black;
    margin-top: 10px;
    margin-bottom: 5px;
}